// display column (center column)
.displayWrapper {
    
    width: 60%;
    margin: 0 0 0 15%;

    .cardFlexContainer {
        padding:70px 10px 38.4px 10px;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        // background-image: url("https://d2q63o9r0h0ohi.cloudfront.net/images/deckbuilder/bg_class_selector_tile-ed65a642d775c2c3668e96c52faa5a5689231767befd1e393e09c74e1feb73806abc5a49c9fc8d90255fa4d796baff12886fee91fa1e89e41d7611d11487d878.jpg");
        background-image: url("https://www.hearthpwn.com/Content/1-7-987-0/Skins/Hearth/images/class_choose_frame.png");
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
        min-height: 100vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    
        .cardBox {
            width: calc(100% / 5);
            
            &:focus {
                outline: 2px dotted $border;
            }

            &:hover,
            &:focus {
                transform: scale(1.1);
            }
        }

        .noCards {
            padding-top: 75px;
            padding-left: 20px;
            color: red;
            font-size: 3.1rem;
        }
    }
}

@media (max-width: 1500px) {

    .displayWrapper{

        .cardFlexContainer {

            .cardBox {
                width: calc(100% / 4);
            }
        }
    }
    
    
}
