// display column (center column)
.displayWrapper {
    
    width: 60%;
    margin: 0 0 0 15%;

    .cardFlexContainer {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        
        padding:70px 10px 40px 10px;
        
        background-image: url("https://www.hearthpwn.com/Content/1-7-987-0/Skins/Hearth/images/class_choose_frame.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    
        .cardBox {
            width: calc(100% / 5);
            
            &:focus {
                outline: 2px dotted $border;
            }

            &:hover,
            &:focus {
                transform: scale(1.1);
            }
        }

        .noCards {
            padding-top: 75px;
            padding-left: 20px;
            color: red;
            font-size: 3.1rem;
        }
    }
}

///////////////////
// media queries //
///////////////////
// mini break point to control how many cards display across the rows
@media (max-width: 1500px) {

    .displayWrapper{

        .cardFlexContainer {

            .cardBox {
                width: calc(100% / 4);
            }
        }
    }
    
    
}

@media (max-width: 768px) {
    .displayWrapper {
        width: calc(100% - 110px);
        margin: 0 0 0 110px;

        .cardFlexContainer {
            padding-top: 50px;

            .cardBox {
                width: calc(100% / 3);
            }
        }
    }
}

// mini break just works best visually to have 2 cards per row here
@media (max-width: 450px) {
    .displayWrapper {

        .cardFlexContainer {

            .cardBox {
                width: calc(100% / 2);
            }
        }
    }
}
