// footer
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: url("http://hearthstone.cmrabet.com/7838fb7ac2e75cc52275d530c1ad1140.png");

    .wrapper {
        display: flex;
        justify-content: center;
        p:last-child{
            margin-left: 6px;
        }
    }
}

