// GENERAL
html {
    font-size: 62.5%;
}

img {
    height: auto;
    width: 100%;
}

body {
    background-color: sandybrown;
    font-size: 1.6rem;
}

main {
    position: relative;

    .cards {
        // max-width: 60%;
    }

    .sidebar {
        // max-width: 20%;
        width: calc(1350px * 0.2);
        background: orangered;
    }
    @media (max-width: 1500px) {
        .sidebar {
            width: calc((90 * 0.2) * 1%);
        }
    }

    .mainFlexContainer {
        display: flex;
        justify-content: space-between;
      }

    .cards, 
    .sidebar {
    flex: 1 0 auto;
    }
}


// stripping styles
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

h1,
h2, 
h3,
ul,
p,
a,
section,
fieldset,
input,
button,
label,
select,
option,
body,
form {
    margin: 0;
    padding: 0;
}

// wrapper
.wrapper {
    max-width: 1350px;
    width: 90%;
    margin: 0 auto;
}

