// GENERAL
html {
    font-size: 62.5%;
}

img {
    height: auto;
    width: 100%;
}

body {
    height: 100vh;
    background-color: sandybrown;
    font-size: 1.6rem;
    position: relative;
}

main {
    display: flex;
    height: 100%;
}



// stripping styles
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

h1,
h2, 
h3,
ul,
p,
a,
section,
fieldset,
input,
button,
label,
select,
option,
body,
form {
    margin: 0;
    padding: 0;
}


// wrapper
.wrapper {
    max-width: 1350px;
    width: 90%;
    margin: 0 auto;
}

