// GENERAL
html {
    font-size: 62.5%;
}

img {
    height: auto;
    width: 100%;
}

body {
    // background-color: sandybrown;
    font-size: 1.6rem;
    // background-image: url("http://hearthstone.cmrabet.com/7838fb7ac2e75cc52275d530c1ad1140.png");
}

main {
    // position: relative;
    background-image: url("http://hearthstone.cmrabet.com/7838fb7ac2e75cc52275d530c1ad1140.png");
    background-attachment: fixed;
    .cards {
        // max-width: 60%;
        background-image: url("https://d2q63o9r0h0ohi.cloudfront.net/images/deckbuilder/bg_class_selector_tile-ed65a642d775c2c3668e96c52faa5a5689231767befd1e393e09c74e1feb73806abc5a49c9fc8d90255fa4d796baff12886fee91fa1e89e41d7611d11487d878.jpg");
    }

    .sidebar {
        // max-width: 20%;
        
        height: 100%;
        width: calc(1350px * 0.2);
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 10px;
        top: 70px;

        // background-image: url("http://hearthstone.cmrabet.com/7838fb7ac2e75cc52275d530c1ad1140.png");
    }
    // .mainFlexContainer {
    //     display: flex;
    //     justify-content: space-between;
    // }

    // .cards, 
    // .sidebar {
    // flex: 1 0 auto;
    // }
}


// stripping styles
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

h2 {
    font-family: $headingFont;
    color: white;
} 

p,
label,
a {
    font-family: $textFont;
    color: white;
}

h1,
h3,
ul,
p,
a,
section,
fieldset,
input,
button,
label,
select,
option,
body,
form {
    margin: 0;
    padding: 0;
}

// wrapper
.wrapper {
    max-width: 1350px;
    width: 90%;
    margin: 0 auto;
    // border: 1px solid white;
}

@media (max-width: 1500px) {

    main {
        .sidebar {
            width: calc((90 * 0.2) * 1%);
        }
    }
    
}

