// header 
header {
  text-align: center;
  padding: 0 10px;
  z-index: 1;
}

.leftCol {
  width: calc(1350px * 0.2);
  position: fixed;
}

.hsLogo {
  width: 100%;
}

h1 {
  font-size: 2.8rem;

}

// wrapper stopper screen width
@media (max-width: 1500px) {
  .leftCol {
    width: calc((90 * 0.2)*1%);
    min-width: 243px;
  }

  h1 {
    @include variableFontSize(24, 1350, 28, 1500);
  }
}

@media (max-width: 1350px) {
  h1 {
    font-size: 2.4rem;
  }
}