// info column (right most column)
main {
    .infoCol {
        width: calc(1665px * 0.25);
        right: calc((100% - 1665px) / 2); 
    }
}

.chosenCard {
    max-width: 300px;
    margin: 0 auto 0 auto;
    border: 3px outset #f2af1b;
    background: rgba(242, 175, 27, 0.3);
    position: relative;
    
    img {
        visibility: hidden;
    }
    
    .unhide {
        visibility: visible;
    }

}



@media (max-width: 1850px) {
    main {
        .infoCol {
            width: calc((90 * 0.25) * 1%);
            right: 5%;           
        }
    }
}