// info column (right most column)
main {
		.infoCol {
				width: calc(1665px * 0.25);
				right: calc((100% - 1665px) / 2); 
		}
}

.chosenCard {
		// max-width: 350px;
		margin: 0 auto 0 auto;
		
		img {
				visibility: hidden;
		}
		
		.unhide {
				// border: 3px outset #f2af1b;
				// background: rgba(242, 175, 27, 0.3);
				visibility: visible;
				
				width: 100%;
				height: 100%;
				max-width: 330px;
				max-height: 330px;
				
				object-fit: cover;
				margin-top: -15px;
		}
}

// .styleProp span {
// 	text-transform: lowercase;
// 	text-transform: capitalize;
// }

.detailContainer {
		padding: 5px 0 10px 7px;
		background: $borderBackground;
		border-radius: 1rem;
		margin-top: -35px;

		p {
				// line-height: 1.4;
				padding-top: 7px;
				color: $heading;
				border-bottom: 1px solid $displayLines;
		}
		span {
			color: $propertyText;
		}
}

///////////////////
// media queries //
///////////////////
@media (max-width: 1850px) {
	main {

		.infoCol {
				width: calc((90 * 0.25) * 1%);
				right: 5%;           
		}
	}
}

@media(max-width: 1000px) {
	main {

		.infoCol {
			width: calc((96 * 0.25) * 1%);
			right: 2%;
		}
	}
}