// info column (right most column)
main {
		.infoCol {
				width: calc(1665px * 0.25);
				right: calc((100% - 1665px) / 2); 
				transition: all 0.3s linear;
				justify-content: flex-start;
		}
}

.chosenCard {
		margin: 0 auto;
		width: 100%;
		max-width: 250px;
		position:relative;
		top:-30px;
		
		img {
				visibility: hidden;
		}
		
		.unhide {
				visibility: visible;
				
				width: 100%;
				object-fit: cover;
		}
}

.detailContainer {
		padding: 5px;
		background: $borderBackground;
		border-radius: 1rem;

		p {
				padding-top: 7px;
				color: $heading;
				border-bottom: 1px solid $displayLines;
		}
		span {
			color: $propertyText;
		}
}

///////////////////
// media queries //
///////////////////
@media (max-width: 1850px) {
	main {

		.infoCol {
				width: calc((90 * 0.25) * 1%);
				right: 5%;           
		}
	}

	.detailContainer {
		margin-top: -40px;
	}
}

@media (max-width: 1000px) {
	main {

		.infoCol {
			width: calc((96 * 0.25) * 1%);
			right: 2%;
		}
	}

	.chosenCard {
		@include variableWidth(150, 769, 200, 1000);
	}
}

@media (max-width: 768px) {
	main {

		.infoCol {
			width: 184px;
			background-image: url("http://hearthstone.cmrabet.com/c9363b32d270de2944fd498260f42009.png");
			background-position: right;
			right: -1000px;
			opacity: 0.97;
		}
	}

	.chosenCard {
		width: 150px;
		top: -20px;
	}

	.detailContainer {
		margin-top: -30px;
	}
}

@media (max-width: 480px) {
	.chosenCard {
		width: 125px;
	}

	.detailContainer {
		font-size: 1.2rem;

		.costAttack,
		.healthType {
			display: flex;

			p {
				width: 50%;
			}
		}

		.healthType {

			p:first-child {
				width: 40%;
			}

			p:last-child {
				width: 60%;
			}

		}
	}
}

