// Select column (leftmost column)
main {
	.selectCol {
		width: calc(1665px * 0.15);

		h2 {
			margin-bottom: 20px;
			font-size: 3.2rem;
		}
	}
}

.cardTotal {
	font-size: 1.9rem;
	span {
		display: inline-block;
		width: 36px;
	}
}

.nameSelect {
	margin-top: 0;
}

form {
	padding: 10px 0;

	fieldset {
		width: 100%;
		margin: 10px 0;
		border: none;
	
		label {
			padding: 5px;
			position: relative;
			left: -5px;
			// display: none;
		}

		select,
		input {
			width: 100%;
			margin-top: 5px;
			padding: 1px;
		}

		input {
			padding-left: 5px;
		}
		select {
			cursor: pointer;
		}
	}

	button[type="submit"] {
		padding: 15px;
		margin-top: 10px;
		width: 100%;
		font-size: 1.8rem;
		

			&:hover,
			&:focus {
				cursor: pointer;
			}
	}

	select, 
	input, 
	button[type="submit"] {
		font-family: $textFont;
		border-radius: 1rem;
		background-color: $borderBackground;
		border-color: $borderBackground;
		color: $border;

		&:focus {
			outline: 1px dotted $border;
		}
	}
}

.adventure::before {
	content : '※';
	display: block;
}

///////////////////
// media queries //
///////////////////
@media (max-width: 1850px) {
	main {
		.selectCol {
			width: calc((90 * 0.15) * 1%);
			

			h2 {
				@include variableFontSize(17, 1000, 32, 1850);
			}
		}
	}
	.cardTotal {
		@include variableFontSize(14, 1000, 19, 1850);

		span {
			@include variableWidth(28, 1000, 36, 1850);
		}
	}
}

@media (max-width: 1000px) {
	main {
		.selectCol {
			width: calc((96 * 0.15) * 1%);

			h2 {
				font-size: 1.6rem;
			}
		}
	}

	.cardTotal {
		font-size: 1.3rem;
	}
	
}

@media (max-width: 768px) {
	main {

		.selectCol {
			width: 96%;
			top: 40px;
		}
	}

	.selectionTitle {
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin: 0 auto;
		order: 2;
	}

	.formFirstHalf {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
	}

	.formSecondHalf {
		display: flex;
	}

	form {

		fieldset {
			width: 20%;
			margin: 5px;

		}

		button[type="submit"] {
			padding: 10px;
			margin: 5px;
			width: 20%;
		}
		
	}
}



