// Select column (leftmost column)
main {
  .selectCol {
    // height: 100%;
    // background: firebrick;
    // padding: 10px;
    // top: 70px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // position: fixed;
    // left: calc((100% - 1350px) / 3);  
  }
}


// @media (max-width: 1500px) {
//   .infoCol {
//       width: calc((90 * 0.2)*1%);
//       min-width: 243px;
//       right: 5%;
//   }
// }

form {
  padding: 10px 0;

  fieldset {
    width: 100%;
    margin: 10px 0;
    border: none;
  
    label {
      padding:5px;
      position: relative;
      left: -5px;
    }
  
    select,
    input {
      width: 100%;
      margin-top: 5px;
    }
  }

  button[type="submit"] {
    padding: 15px;
    margin-top: 10px;
    width: 50%;

      &:hover,
      &:focus {
        cursor: pointer;
      }
  }
}

