html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

body {
  font-size: 1.6rem;
}

main {
  background-image: url("http://hearthstone.cmrabet.com/7838fb7ac2e75cc52275d530c1ad1140.png");
  background-attachment: fixed;
}

main .cards {
  background-image: url("https://d2q63o9r0h0ohi.cloudfront.net/images/deckbuilder/bg_class_selector_tile-ed65a642d775c2c3668e96c52faa5a5689231767befd1e393e09c74e1feb73806abc5a49c9fc8d90255fa4d796baff12886fee91fa1e89e41d7611d11487d878.jpg");
}

main .sidebar {
  height: 100%;
  width: calc(1350px * 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  padding: 10px;
  top: 60px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h2 {
  font-family: "Gentium Basic", serif;
  color: white;
}

p,
label,
a {
  font-family: "Quicksand", sans-serif;
  color: white;
}

h1,
h3,
ul,
p,
a,
section,
fieldset,
input,
button,
label,
select,
option,
body,
form {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1665px;
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 5px 0;
  background: url("https://wallpapershome.com/images/pages/pic_h/6001.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

header .logoContainer {
  width: 200px;
}

header h1 {
  font-size: 3.2rem;
  margin-left: 10px;
  font-family: "Merienda One", cursive;
  color: white;
}

main .selectCol {
  width: calc(1665px * 0.15);
}

form {
  padding: 10px 0;
}

form fieldset {
  width: 100%;
  margin: 10px 0;
  border: none;
}

form fieldset label {
  padding: 5px;
  position: relative;
  left: -5px;
}

form fieldset select,
form fieldset input {
  width: 100%;
  margin-top: 5px;
}

form button[type="submit"] {
  padding: 15px;
  margin-top: 10px;
  width: 100%;
}

form button[type="submit"]:hover, form button[type="submit"]:focus {
  cursor: pointer;
}

@media (max-width: 1850px) {
  main .selectCol {
    width: calc((90 * 0.15) * 1%);
  }
}

.displayWrapper {
  width: 60%;
  margin: 0 0 0 15%;
}

.cardFlexContainer {
  padding: 5px 10px;
  margin-bottom: 30px;
}

main .infoCol {
  width: calc(1665px * 0.25);
  right: calc((100% - 1665px) / 2);
}

@media (max-width: 1850px) {
  main .infoCol {
    width: calc((90 * 0.25) * 1%);
    right: 5%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: url("http://hearthstone.cmrabet.com/7838fb7ac2e75cc52275d530c1ad1140.png");
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wrapper p:last-child {
  margin-left: 6px;
}
